:root {
    --primary-color: #F9D342;
    --text-color: #4A4A4A;
    --white-color: #EAECEF;
    --primary-background-color: #191B20;
    --primary-background-color-item: #0B0E11;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;  
}

.header {
    width: 100%;
    background-color: transparent;
    padding: 30px 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.header.sticky {
    padding: 12px ;
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header.sticky .header-left .header__heading,
.header.sticky .header__list .header__link:hover {
    color: #262724;
}
.header.sticky .header__list .header__item:hover::before {
    border-color:  #191819;
    left: 0;
    right: 0;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__logo {
    width: 40px;
    height: 35px;
}
.header__heading {
    margin-left: 8px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 0;
}
.header__list {
    display: flex;
    list-style: none;
}
.header__item {
    padding: 0 20px;
    position: relative;
}
.header__item::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    border-bottom: 1px solid transparent;
    transition: .5s ease-in-out;
}
.header__link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.header__link:hover {
    color: var(--primary-color);
}
.header__item:hover::before {
    border-color:  var(--primary-color);
    left: 0;
    right: 0;
}

/* Content */

.content-info {
    padding: 8% 0 30px;
    background-image: url('../img/bg_main.jpg');
    background-position: center;
    background-size: cover;
}
.content__heading {
    margin-top: 65px;
    font-size: 4.4rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #fff;
    opacity: 0;
}
.content__heading span {
    color: var(--primary-color);
}
.content__description {
    display:block;
    width: 40%;
    line-height: 22px;
    font-size: 1rem;
    color: #fff;
    opacity: 0;
}
.content__btn {
    display: block;
    margin-top: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--primary-color);;
    color: var(--primary-color);
    border-radius: 50px;
    opacity: 0;
}
.content__btn:hover {
    background-color: var(--primary-color);
    color: #000;
}

.slide-left {
    animation: slideLeft 1s linear forwards;
}
.content__heading.slide-left {
    animation-delay: 0.5s;
}
.content__description.slide-left {
    animation-delay: 1s;
}
.content__btn.slide-left {
    animation-delay: 1.5s;
}
@-webkit-keyframes slideLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.coin-list {
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
}
.coin-item {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-left: 8px;
}
.coin-img {
    width: 50px;
}
.coin-info {
    margin-left: 12px;
}
.coin-price {
    color: #fff;
}
.coin-name {
    color: var(--primary-color);
    line-height: 22px;
    font-weight: bold;
}


/* Trending */

.content-trending {
    color: #000;
    margin: 50px 0;
}
.trending__heading {
    margin-bottom: 8px;
    letter-spacing: 2px;
    font-size: 2.6rem;
    color: var(--text-color);
}
.trending__description {
    font-size: 15px;
    color: #a7a796;
}
.trending-coin-wrap {
    margin-top: 46px;
}
.trending-table {
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-background-color-item);
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

/* Trending table header */

.table__head-item {
    padding: 8px 0;
    border-bottom: 1px solid #fff;
}


/* trending table body */
.table__body-row:hover {
    background-color: var(--primary-color);
    color: #262724;
    
}
.table__body-row:hover .table__body-symbols {
    color: #309361;
}
.table__body-item {
    padding: 16px 0;
    text-align: center;
}
.table__body-top-img {
    width: 50px;
}
.table__body-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__body-logo {
    width: 40px;
    border-radius: 50%;
}
.table__body-name-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    text-align: left;
    line-height: 18px;
    width: 200px;
}
.table__body-symbols {
    font-size: 1.2rem;
    color: var(--primary-color);
}
.table__body-name {
    font-size: 12px;
}



/* Content-Discover */

.content-discover {
    padding: 50px 0;
    background-color: var(--primary-background-color);
}
.content-discover__heading {
    margin-bottom: 50px;
    letter-spacing: 2px;
    font-size: 2.6rem;
    color: var(--white-color);
}
.discover-nft {
    min-height: 570px;
    background-color: var(--primary-background-color-item);
    border-radius: 8px;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discover-nft.discover-nft__column-reserve {
    flex-direction: column-reverse;
}
.discover-nft .discover-nft__link {
    text-decoration: none;
    color: var(--white-color);
}
.discover-nft__img {
    width: 100%;
}
.discover-nft__text {
    letter-spacing: .5px;
}
.discover-nft__text-heading {
    margin: 48px 0 16px;
    line-height: 32px;
}
.discover-nft__text-heading.discover-nft__text-heading-top {
    margin-top: 0;
}
.discover-nft__text-description {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
}
.discover-nft__text-link {
    padding-top: 16px;
    display: none;
}
.discover-nft__text-link a {
    text-decoration: none;
    color: var(--primary-color);
}
.discover-nft:hover .discover-nft__text-link {
    display: block;
}
.discover-nft__text-link-icon {
    font-size: 12px;
}












/* Footer */
.footer {
    background-color: var(--primary-background-color);
    color: #a0a7a4;
}
.footer-container {
    display: flex;
    padding: 50px 0;
}

.footer__tittle {
    color: #bbbba9;
    margin-bottom: 6px;
    font-weight: bold;
}
.footer__link{
    text-decoration: none;
}
.footer__link:hover {
    color: #e0dfdf;
}
.footer_container-link {
    padding: 4px 0;
}
.footer__right-regis-des,
.footer__link {
    line-height: 22px;
    color: #918b8b;
    font-size: 14px;
}
.footer__right,
.footer__coppyright {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__community-link {
    text-decoration: none;
}
.footer__community-img {
    width: 35px;
    padding: 4px ;
}
.footer__right-regis {
    display: flex;
    flex-direction: column;
}
.footer__right-regis-input,
.footer__right-regis-des {
    margin-bottom: 8px;
}
.footer__right-regis-input {
    font-size: 14px;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
}
.footer__right-regis-btn {
    width: 90px;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    background-color: var(--primary-color);
    color: #000;
    font-weight: 500;
}
.footer__right-regis-btn:hover {
    opacity: 0.9;
}

.footer__right-dowload-img {
    width: 120px;
    padding-top: 4px;
}

.footer__bottom {
    text-align: center;
    padding: 50px 0;
    border-top: .5px solid #615f5f;
    color: #918b8b;
    font-size: 14px;
}